---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Works";
import { data } from "../content/data"

const artsEntries = await getCollection("arts")

---
<Layout pageTitle={pageTitle}>

  <h2 class="white-line">{data.Contact.Intro}</h2>
  <div style="text-align: left;" class="contact">
    <p style="margin: 0;">
      Mail me here:
    </p>
    <p><a href="mailto:manuelaienuso@gmail.com"><i class="fa-solid fa-envelope" style=" vertical-align: middle;"></i> {data.Contact.Mail}</a></p>
    <p style="margin: 0;">
      Social:
    </p>
    {data.Contact.Socials.map((social) => (
              <a href={social.link}><i class={social.icon} style="color: white; font-size: large; padding:10px"></i></a>
    ))}
  </div>
  <div>
    <img src="/material/Emme hide.png" alt="Emme hype" width="340" loading="lazy">
  </div>
</Layout>

