---
import { data } from "../content/data"
import Card from '../components/Card.astro';
import SwiperArt from "../components/Swiper-Art.astro";
import SwiperGraphic from "../components/Swiper-Graphic.astro";

const allProjects = data.Works.Projects;
const imgArt = data.Works.Arts;
const imgEmote = data.Works.Emote;

---
<div class="text"><h2>Code projects:</h2></div>

    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card 
            url={card.website} 
            image={card.image.url} 
            title={card.title}
        />)}
    </ul>

  <div class="text" id="triggerSection"><h2>Arts projects:</h2></div>

<!--    <LightGallery
class="..."
options={{
  thumbnail: true,
  autoplay: true,
  slideShowInterval: 500,
  }}
addPlugins={[ 'zoom' ]}
>
{
  imgArt.map(image => (
    <a class="..." href={image.src}>
        <Image
        src={image.src}
        alt={image.alt}
        loading="lazy"
        layout='constrained'
        width={400} height={259}
        />
    </a>
  ))
}
</LightGallery> -->


    <SwiperArt/>
    
    <br><br>

  <div class="text"><h2>Design & Graphics:</h2></div>
  
    <SwiperGraphic/>
<!--
        <div id="emme-show" class="white-line" style="padding-bottom: 0;">
      <Image src="/material/Emme-che-fa-vedere-cose.png" alt="Emme che mostra cose" layout='constrained' width={340} height={259} loading="lazy" />
-->