---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Gallery} from '../components/Gallery';
const allProjects = await getCollection("projects");
const pageTitle = "Works";
import { data } from "../content/data"
import Thumbnail from "../components/Thumbnail.astro";

const artsEntries = await getCollection("arts")

---
<Layout pageTitle={pageTitle}>

  <div class="h-divider">
  <div class="shadow"></div>
  <div class="text"><h2>Code projects:</h2></div></div>

    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card 
            url={`/projects/${card.slug}/`} 
            image={card.data.image.url} 
            title={card.data.title} +.
        />)}
    </ul>

      <div class="h-divider" style="margin-top: 80px;">
  <div class="shadow"></div>
  <div class="text"><h2>Arts projects:</h2></div></div>

    <Thumbnail images={data.Works.Arts} />
    
    <div class="h-divider">
  <div class="shadow"></div>
  <div class="text"><h2>Design & Graphics:</h2></div></div>
  
   <Gallery images={data.Works.Emote.map(img => ({ ...img, thumbnail: img.thumbnail ?? img.src }))} page="emotes" client:load/>

    <div id="emme-show" class="white-line" style="padding-bottom: 0;">
      <img
        src="/material/Emme che fa vedere cose.png"
        alt="Emme che mostra cose"
        width="340"
        loading="lazy"
      />
    </div>

</Layout>
