---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <slot />
    <ul class="badge__list">
        <li><span class="badge badge--item">YEAR</span><a class="badge__link" href={frontmatter.website} target="_blank">{frontmatter.year}</a></li>
        <li><span class="badge badge--item">TOOL</span><a class="badge__link" href={frontmatter.github} target="_blank">{frontmatter.tool}</a></li>
    </ul>
    <div class="center">
      {frontmatter?.slides.map(slide => (
        <img class="pro-img" width="100%" height="100%" src={slide.url} alt={slide.alt} />
      ))}
    </div>
</BaseLayout>

